*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    padding: 30px;
    display: flex;
    gap: 50px;
}


a{
    color: white;
    text-decoration: none;
    font-family: 20px;
}